- model_class = Book
%h1= @item.tittle.capitalize
%table.table.table-bordered.table-striped
  %thead
    %th
    %th
  %tbody
    %tr
      %td Author
      %td= @item.author
    %tr
      %td Date
      %td= @item.date

.form-actions
  = make_cart_link @item
  = link_to "Books", books_path